on boot
    chown system system /sys/bus/platform/devices/soc/soc\:fpc_interrupt/clk_enable
    chown system system /sys/bus/platform/devices/soc/soc\:fpc_interrupt/wakelock_enable
    chown system system /sys/bus/platform/devices/soc/soc\:fpc_interrupt/irq
    chown system system /sys/bus/platform/devices/soc/soc\:fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/soc/soc\:fpc_interrupt/irq_enable
    chmod 0200 /sys/bus/platform/devices/soc/soc\:fpc_interrupt/clk_enable
    chmod 0200 /sys/bus/platform/devices/soc/soc\:fpc_interrupt/wakelock_enable
    chmod 0600 /sys/bus/platform/devices/soc/soc\:fpc_interrupt/irq

#add for silead
    chown system system /dev/silead_fp
    chmod 0666 /dev/silead_fp


    chmod 0660 /sys/kernel/oppo_display/oppo_notify_fppress
    chmod 0660 /sys/kernel/oppo_display/dimlayer_bl_en
    chown system system /sys/kernel/oppo_display/oppo_notify_fppress
    chown system system /sys/kernel/oppo_display/dimlayer_bl_en

service fps_hal.RMX3031 /system/bin/hw/android.hardware.biometrics.fingerprint@2.3-service.RMX3031
    class late_start
    user system
    group system input uhid
