type hal_fingerprint_RMX3031, domain;
hal_client_domain(hal_fingerprint_RMX3031, hal_fingerprint)
hal_server_domain(hal_fingerprint_RMX3031, hal_fingerprint)

type hal_fingerprint_RMX3031_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_fingerprint_RMX3031)

# Allow hal_lineage_fod_RMX3031 to hal_fingerprint_hwservice
allow hal_fingerprint_RMX3031 hal_fingerprint_hwservice:hwservice_manager find;

# Allow hal_lineage_fod_RMX3031 to read and write to sysfs_fod
allow hal_fingerprint_RMX3031 sysfs_fod:file rw_file_perms;

# Allow to use wakelock
wakelock_use(hal_fingerprint_RMX3031)

# Allow sysfs to open and write a file
allow hal_fingerprint_RMX3031 sysfs:file { open write };

# Allow sysfs fingerprint notify file to open and write
allow hal_fingerprint_RMX3031 sysfs_fingerprint_notify:file { open write };
