type hal_fingerprint_oppo, domain;
type hal_fingerprint_oppo_exec, system_file_type, exec_type, file_type;

allow hal_fingerprint_oppo proc_tp:dir search;
allow hal_fingerprint_oppo proc_tp:file { open write };
