# Allow init to mount vendor overlay
allow init vendor_overlay_file:dir mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to write touchpanel nodes
allow init proc_tp:file rw_file_perms;

# Allow init to change owner of /sys/module/ged
allow init sysfs_ged:file { w_file_perms setattr };

# Allow init to change owner of /proc/cpufreq
allow init proc_cpufreq:file { w_file_perms setattr };

# Allow init to set smart charging and USB
allow init sysfs_battery_supply:file { setattr };
